<div style="background: yellow;">
	<h2>{{ mensaje }}</h2>


	<app-hijo [entrada]="'otro valor'" (salida)="manejarSalida($event)"></app-hijo>




	<ul>
	  <li *ngFor="let elem of lista; let i = index;">
	    {{ elem }} - No: {{ i + 1 }}
	  </li>
	</ul>

	<br />

	<button (click)="mostrarMeme()">Mostrar</button>

	<br />

	<img *ngIf="memeVisible" src="assets/meme.jpg">
</div>



