
<h1>Esta es mi primera App en Angular</h1>

<app-hola-mundo></app-hola-mundo>

<a [routerLink]="['mi-otro-componente', 'mi valor']" 
  routerLinkActive="active">Ir A Otro</a>
<button (click)="irPorCodigo()">Ir Por Codigo</button>


<br />

<div style="background-color: gray;">
  <router-outlet></router-outlet>
</div>
